* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #bdfcff;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo-container h4 {
  position: relative;
  left: -13px;
  top: 2px;
  font-size: 33px;
}

.logo {
  font-weight: 400;
  margin: 5px;
  font-family: "Source Code Pro", monospace;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.projects-section {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
}

.projects-header {
  margin-bottom: 0;

}

.projects {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.merchant,
.battleship,
.synth,
.traffic-flow,
.git {
  z-index: 1;
  width: 219px;
  height: 240px;
  position: relative;
  text-align: center;
  border-style: solid;
  border-width: unset;
  border-radius: 5px;
}

.merchant {
  background-color: lightseagreen;
}

.battleship {
  background-color: lightgreen;
}

.synth {
  background-color: lightpink;
}

.traffic-flow {
  background-color: aquamarine;
}

.git {
  background-color: mediumpurple;
}

.merchant img,
.battleship img,
.synth img,
.traffic-flow img,
.git img {
  width: 213px;
  height: 100px;
}

.merchant:hover,
.battleship:hover,
.synth:hover,
.traffic-flow:hover,
.git:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.about-section {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  margin: auto;
}

.about {
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.resume-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.resume-button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.education,
.contact,
.resume {
  position: relative;
  text-align: center;
  padding: 50px;
}

.intro {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}

.introduction {
  position: relative;
  flex: 1;
  justify-content: space-between;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: black;
  display: flex;
}

.cta {
  padding: 50px 0px 0px 0px;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .projects {
    flex-direction: column;
    align-items: center;
  }

  .about {
    align-items: center;
    flex-direction: column;
  }
}
